@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');



* {

    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: roboto;
    margin: 0;
    padding: 0;



}

h4 {

    margin: 0;
    padding: 0;
}

p {

    margin: 0;
    padding: 0;
}

a {

    color: inherit;

}

ul {
    padding: 0;
}





body {

    margin: 0;
    padding: 0;
}



/* Mobile_first */


/* Header_start */

/* Logo_ohmyfood_start */


.logo_ohmyfood img {

    width: 162px;

}



.logo_ohmyfood {

    text-align: center;
    padding: 20px 0 5px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;

}


.search_Button {

    text-align: center;
    height: 50px;
    background-color: #EAEAEA;
    padding-left: 81px
}

#icon_location {

    position: relative;
}

.searching_case {

    padding: 15px 10px;
    border: none;
    background-color: #EAEAEA;
    font-size: 16px;

}


.title_button_home {
    
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    padding-bottom: 55px;
    
    
    
    
}

.title_button_home h1{

    padding: 25px;
    font-size: 25px;
    padding-bottom: 2px;
}


.title_button_home p {

    color: #353535;
    padding: 25px;
    padding-top: 10px;

font-size: 18px;
}

.button_explorer {

    height: 50px;
    width: 211px;
    border-radius: 25px;
    font-size: 16px;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
    color: white;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    position: relative;





}

.button_explorer:hover {
    transform: scale(1.04);
    transition-duration: 0.3s;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.712);
}









.cards span {

    position: absolute;
    content: "";
    right: 10px;
    top: 20px;
    font-weight: bold;
    background-color: #99E2D0;
    color: #2FAF94;
    padding: 0.5rem;
    width: 76px;
}


/* partie fonctionnement */

.menu {
    margin-bottom: 2rem;
  }
  .menu h2 {
    display: flex;
    text-indent: 8%;
    margin: 1rem 0 0 1rem;
    margin-bottom: 15px;
    padding-top: 30px;
  }
  .menu ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
  .menu li {
    width: 280px;
    background-color: #F6F6F6;
    border-radius: 1rem;
    padding: 1.5rem 0;
    box-shadow: 0 3px 5px darkgray;
    transition: transform 1s;
    font-size: 1.1rem;
  }
  .menu i {
    margin-right: 0.5rem;
    color: #7E7E7E;
    
  }
  .menu span {
    position: relative;
    left: -1rem;
    border: 1px solid #9356dc;
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    font-weight: bold;
    background-color: #9356dc;
    color: white;
  }
  .menu span:hover {
    cursor: pointer;
  }
  .menu li:hover {
    cursor: pointer;
    background-color: #F5EDFF;
    
  }
  .menu li:hover i {
    color: #9356dc;

}

/* partie restaurants */


.container--restaurants__cards {

    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F7F7F7;
    padding: 10px;
    padding-top: 48px;
    padding-bottom: 90px;
}

.cards--block  {

    display: flex;
    flex-direction: column;
    gap: 20px;


}

.Title--restaurants__cards{

    
    
    text-indent: 4%;

}


.cards {
    position: relative;
    background-color: #fdfcfc;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 294px;



}


.img_cards {


    object-fit: cover;

    height: 230px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

}

.text_cards {

    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 16px;


}

.text_cards h3 {

    font-size: 14px;
    font-weight: 700;
    margin: 0;



}

.text_cards p {


    font-size: 14px;
    font-weight: 400;
    margin: 0;



}



.heart {

    font-size: 21px;
    display: flex;
    justify-content: flex-end;
    margin-top: -31px;

}


.heart2 {

    position: relative;

    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    ;
    color: transparent;
    -webkit-background-clip: text;
    transition: all 500ms ease-in-out;
    opacity: 0;

}

.heart1 {

    position: absolute;

}


.heart2:hover {

    opacity: 1;
    transform: scale(1.10)
}



/* footer_start */

.footer {


    background-color: #353535;
    color: white;
    padding: 15px 25px;
    height: 197px;
    display: flex;
    flex-direction: column;
}

.footer h2 {

    font-size: 18px;
    font-family: 'Shrikhand', italic;
    font-weight: 400;
    padding-bottom: 12px;

}

.footer ul {


    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer li i {

    margin-right: 10px;

}

/* footer_end */



/* Version desktop */

@media screen and (min-width: 1023px){

    .cards--block{


        display: flex;
        flex-direction: row;
        
    }

    .footer{
        display: flex;
        gap: 30px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;


    }

    .footer ul{

        display: flex;
    flex-direction: row;
    gap: 30px;
    }

    .footer h2{
        padding-top: 10px;
}

.container--restaurants__cards  {

    padding: 60px 0 90px 100px;
}

.menu{

    padding: 0 0 0 100px;
}




}


@media screen and (min-width: 1440px){
    
    .menu h2{
    
        text-indent: 120%;  
    }



    }


/* animation */


/* loader */

.loader {
    background-color: #ecf0f1ea;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;     
    animation-duration: 3s;
    animation-name: loader;
    animation-fill-mode: forwards;

  }
  
  .loader__element1 {
    border-radius: 100%;
    border: 5px solid #99E2D0 ;
    margin: 10px;
    
  }
  .loader__element2 {
    border-radius: 100%;
    border: 5px solid #9356DC ;
    margin: 10px;
  }
  .loader__element3 {
    border-radius: 100%;
    border: 5px solid #003A68 ;
    margin: 10px;
  }
  
  .loader__element1 {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element2 {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader__element3 {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }

  }
  @keyframes loader {


    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    99% {
        opacity: 0;
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }

}

/* fade in */




