@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');



* {

    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: roboto;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;




}

h4 {

    margin: 0;
    padding: 0;
}

p {

    margin: 0;
    padding: 0;
}

a {

    color: inherit;

}

ul {
    padding: 0;
}





body {

    margin: 0;
    padding: 0;
}





.header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 54px;
    padding: 0 10px;

}

.header i {

    font-size: 20px;

}

.header h1 {

    font-size: 30px;
    font-family: 'Shrikhand', italic;
    font-weight: 400;
}


.main__menu__starter,.main__menu__dish, .main__menu__dessert{

    background-color:#F6F6F6 ;
}

.main__menu__starter{

    margin-top: -59px;
}

.main__banner  {

    max-height: 55vh;
    min-height: 30vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;


}





.main__menu__title {

    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    top: -50px;
    background-color: #F6F6F6;
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.main__menu__title h2 {

    font-size: 30px;
    font-family: 'Shrikhand', italic;
    font-weight: 400;

}


.heart__menu i {

    font-size: 26px;
    padding: 10px;
}


.heart4 {



    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    
    color: transparent;
    -webkit-background-clip: text;
    transition: all 500ms ease-in-out;
    opacity: 0;

}

.heart3 {

    position: absolute;

}


.heart4:hover {

    opacity: 1;
    transform: scale(1.08)
}





.main__menu__starter,
.main__menu__dish,
.main__menu__dessert {
    padding: 10px 20px 40px;
    width: 100%;
    
}



.main__menu__starter h3,
.main__menu__dish h3,
.main__menu__dessert h3 {

    position: relative;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: solid 3px #99E2D0 ;
    width: 40px

}




.button_explorer__menu {

    height: 50px;
    width: 211px;
    border-radius: 25px;
    font-size: 16px;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
    color: white;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    padding: 0 50px;
   





}

.button_explorer__menu:hover {
    transform: scale(1.04);
    transition-duration: 0.3s;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.712);
}




.meal {

    display: flex;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    margin-top: 24px;
    cursor: pointer;
    overflow: hidden;
    animation: fade_in 1s both;
    background-color: white;
}

@keyframes fade_in {
    from {
        
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        
        transform: translateY(0px);
        opacity: 1;
    }
}

.meal:nth-child(2) {
    animation-delay: 200ms;
}

.meal:nth-child(3) {

    animation-delay: 300ms;
}

.meal:nth-child(4) {
    animation-delay: 400ms;
}

.meal:nth-child(5) {
    animation-delay: 500ms;
}

.meal__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.meal__description h4 {
    overflow: hidden;
    
    text-overflow: ellipsis;
    font-size: clamp(1.4rem, 2vw, 1.9rem);
}

.meal__description p {
    overflow: hidden;
    
    text-overflow: ellipsis;
    font-weight: 200;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.meal__price {
    font-weight: 500;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    padding: 0.625rem 1.5625rem 0.625rem 0.3125rem;
}

.meal__check i {

    color: #99E2D0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 34px;
    height: 34px;
    background: white;
    font-size: 20px;
   
   
}
.meal__check   {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    padding: 0 15px;
    background-color: #99E2D0;
    margin-right: -70px;
    transition: margin-right 0.4s ease-in-out;
    
}

.meal:hover .meal__check {

    margin-right: 0;
}



.button_explorer {

    height: 50px;
    width: 211px;
    border-radius: 25px;
    font-size: 16px;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
    color: white;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;






}

.button_explorer:hover {
    transform: scale(1.04);
    transition-duration: 0.3s;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.712);
}
 




.footer {


    background-color: #353535;
    color: white;
    padding: 15px 25px;
    height: 197px;
    display: flex;
    flex-direction: column;
}

.footer h2 {

    font-size: 18px;
    font-family: 'Shrikhand', italic;
    font-weight: 400;
    padding-bottom: 10px;

}

.footer ul {


    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer li i {

    margin-right: 10px;

}



@media screen and (min-width: 768px){

    .header{
    
    
    
        display: flex;
        justify-content: flex-start;
        gap:275px;
    }

}


@media screen and (min-width: 1023px){


    .header{


        display: flex;
        justify-content: flex-start;
        gap: 400px;
    }

    


    .main__menu__title{

        display: flex;
    justify-content: center;

    }
    .main__menu{
    
        padding: 0 162px 0 145px;
    }

    .main__menu__starter, .main__menu__dish, .main__menu__dessert {

        padding: 10px 20px 5px;
    }
    .footer{
        display: flex;
        gap: 30px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;


    }

    .footer ul{

        display: flex;
    flex-direction: row;
    gap: 30px;
    }

    .footer h2{
        padding-top: 10px;
}
    }

    @media screen and (min-width: 1440px){

        .main__menu {

            padding: 0 240px 0 205px;
        }
            
        .main__menu__starter, .main__menu__dish, .main__menu__dessert {

        
        
        

            padding: 37px 212px 40px 194px
        }

        .footer{
            display: flex;
            gap: 30px;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
    
    
        }
    
        .footer ul{
    
            display: flex;
        flex-direction: row;
        gap: 30px;
        }
    
        .footer h2{
            padding-top: 10px;
    }

    .header{


        display: flex;
        justify-content: flex-start;
        gap: 575px;
    }

    


    
    
}

